


	/* Шапка position: sticky */
.navbar {
	
	position: sticky;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 4px 10px rgb(255, 255, 255, .1);
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(7px); 
	backdrop-filter: blur(7px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 75px;
}

.image {
	justify-self: right;
	align-self: center;
}

.image img {
	width: 90%;
}

.viber {
	width: auto;
	height: 21px;
}

.navbar-menu {
	padding: auto;
	font-size: 12px;
	align-self: center;
	justify-self: center;
	
}

.navbar-menu ul {
	padding-left: 0;
}

.navbar-menu .padding a {
	display: inline;
	list-style-type: none; 
	margin: 0;
	padding: 0;
	color: #000;
	opacity: 0.7;
	text-decoration: none;
	transition: all .07s ease-in-out;
	font-size: small;
}


.navbar-menu li a:hover {
	background-color: inherit;
	opacity: 1;
	
}

.navbar-menu .padding a {
	padding-right: 20px;
	font-size: 14px;
}

.number li:hover {
	background-color: inherit;
}
.number {
	font-size: 14px;
	justify-self: start;
	align-self: center;
	
}

.number li {
	display: block;
	list-style-type: none; 
	margin: 0;
	padding: 0;
	color: #000;
	text-decoration: none;
	padding-right: 10px;
	transition: all .07s ease-in-out;
	font-size: 13px;
}



	/* Блок аренды */
.rent {
	background-color: #f0f0f0;
	padding: 20px; 
	text-align: center;
	position: relative;
	left: 20%;
	width: 60%;
	margin-bottom: 2%;
}
	
.rent .title {
	color: #003655;
	font-size: 2.5vw;
	font-weight: 700;
	margin-top: 3%;
	margin-bottom: 5%;
}
	
.image-row {
	display: flex;
	justify-content: center; 
	margin-bottom: 20px; 
}
	
.image-row .item {
	margin: 0 10px; 
}

.image-row .item h2 {
	color: #003655;
	font-weight: 700;
	font-size: 1.4vw;
	margin-top: 5%;
}
	
.image-row .item h3 {
	margin-top: 5%;
	margin-bottom: 0;
	color: #333333;
	font-size: 1.2vw;
	font-weight: 100;
}

.image-row .item img {
	max-width: 100%; 
	height: auto; 
}









